body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#bar{
  justify-content: flex-end;
  gap: 10px;
  width: 55%;
}
#bars{
  background-color: white;
  width: 30%;
  justify-content: space-between;
  margin: 0 130px;
}
#hmm{
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
}
.sign{
  width: 100px;
  background-color: #093330;
  border: none;
  border-radius: 20px;
  height: 30px;
  color: white;
  /* margin-top: 5px; */
}
.get{
  width: 200px;
  background-color: #093330;
  border: none;
  border-radius: 10px;
  height: 50px;
  color: white;
  font-size:25px;
}
#main-head{
  margin: auto;
  max-height: 115vh;
  margin-top: 40px;
}
.imgs{
  width:80%;
}
.hld{
  width: 70%;
  margin: auto;
  align-items: center;
  margin-top: 60px;
}
.ppp{
  width: 70%;
  margin: auto;
  align-items: center;
}
#und{
  background-color: #093330;
  height: 30px;
  width:100%;
  margin: 30px 0;
}
.inner-cont{
  height:150vh;
}
.text-inner{
  text-align: center;
}
#down{
  height: 50vh;
 /* padding: 20px 0; */
 margin: 20px auto;
}
.imgss{
  width:5%;
  position: absolute;
}
.imgssm{
  width:20%;
  position: relative;
 left: 6px;
 top: 4px;
 /* top: 5px; */
}
.we{
  margin-top: 30px;
}
#rowtwo{
  max-height: 130vh;
  
}
.pic{
  width:100%;
}
  .bco{
    border: 1px solid black;
    height: 45vh;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    -webkit-box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    -moz-box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    border-radius: 10px;
  }
  .have{
    line-height: 30px;
  }
  #new-cont{
  max-height: 200vh;
  width: 100%;
  margin-top: 150px;
  
  }
  .how{
    margin-top: 40px;
  }
  
  #conone{
    gap: 100px;
    margin-top: 80px;
  }
  #four{
    background-color:#FFFFFF;
    height:30vh;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    -webkit-box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    -moz-box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    /* width: 40%; */
  }
  #five{
    background-color: #FFFFFF;
    height:30vh;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    -webkit-box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    -moz-box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    /* width: 40%; */
  }
  #fours{
    background-color: #FFFFFF;
    height:30vh;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    -webkit-box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    -moz-box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
  }

  #fourss{
    background-color: #093330;
    height:30vh;
    padding: 30px;
    border-radius: 10px;
    color: white;
    box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    -webkit-box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
    -moz-box-shadow: 11px 13px 5px -3px rgba(0,0,0,0.74);
  }
  #cotwo{
   margin-top: 70px;
    gap: 100px;
  }
  #third-cont{
    max-height: 230vh;
    padding: 80px;
    background-color: red;
    margin: 40px auto;
   
  }
  #six-cont{
    max-height: 160vh;
    background-color: #093330;
    color: white;
    margin-top: 30px;
  }
  #foutrow{
    padding: 70px 0;
    gap: 20px;
    max-height: 200vh;
  }
  #conones{
    gap: 20px;
    /* margin-top: 30px; */
    padding: 70px 0;
    max-height: 170vh;
  }
  #a{
    background-color: #093330;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* width: 32%; */
  }
  #b{
    background-color: #093330;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* width: 32%; */
  }
  #c{
    background-color: #093330;
    height: 50vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* width: 32%; */
  }
  .feed{
    text-align: center;
    padding: 10px 0;
  }
.arrow{
  width:5%;
}

.step{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enter{
  background-color: #541d83;
  width: 30%;
}
.hay{
  width: 90%;
  display: block;
  justify-content: center;
 height: 50vh;
 margin-top: 50px;
  /* gap: 20px; */
}
.photo{
  margin-top: 10px;
}
.top{
  margin-top: 20px;
}

.name{
  margin-top: 20px;
}

.last{
  max-height: 160vh;
  padding: 80px;
  
}
#e{
  height: 35vh;
  /* padding: 50px 100px; */
}
#f{
  height: 35vh;
}
#g{
  height: 35vh;
}
#h{
  height: 35vh;
}
.last-div{
  margin: 20px 0;
}
#aa{
  color: white;
  text-decoration: none;
}
#cont-footer{
  height: 8vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content:center;
  align-items: center;
  
}
.footer-text{
  color:#093330;
}
.footer-div{
  /* display: flex;
  justify-content:center;
  align-items: center; */
}
#new-one{
  background-color: yellow;
  gap: 40px;
  width: 100%;
}
#jj{
  background-color: #541d83;
}
#ff{
  background-color: #746a7e;
}
#gg{
  background-color: blue;
}
.wel{
  color:#093330;
  margin:50px  70px;
  
}
.wels{
  color:#093330;
  margin:50px  10px;
  background-color: red;
  width: 100%;
}
.hhh{
  max-width: 100%;
  margin-top: 20px;
  color:#093330;
}
.ggg{
  width: 100%;
  margin-top: 40px;
}

.wl-text{
  color:#093330;
  font-weight: bolder;
  font-size: xx-large;
}
#new-onest{
  max-height: 80vh;
  background-color: red;
}
#new-twost{
  height: 80vh;
  background-color: yellow;
  margin: 100px 0;
}
#new-ones{
  max-height: 145vh;
}
#new-two{
  max-height: 145vh;
}
#maint-conts{
  max-height: 135vh;
  margin-top: 30px;  
}
#maint-contst{
  max-height: 100vh;
  margin-top: 30px;
  
}
#new-oness{
  height: 135vh;
}
#new-twos{
  height: 135vh;
}
#maint-cont{
  height: 145vh;
  margin-top: 30px;
  
}
.two-one{
  background-color: red;
  height: 100vh;
}
/* .two-inn{
  background-color: rgb(34, 93, 25);
  text-align: center;
  height: 10vh;
} */
.sig{
  background-color: white;
  height:6vh;
  border: 2px solid black;
  width: 80%;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 10px;
  gap: 20px;
  
}
.main-sig{
  height:10vh;
  display: flex;
  align-items:center;
  margin-top: 30px;
  justify-content: flex-start;
 
}
.creat{
  text-align: center;
  width: 80%;
}
.sign-new{
  background-color:yellow;
  /* height: 100vh; */
  width: 100%;
}
hr{
  width: 10%;
}

.line{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 80%;
}
.lines{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 80%;
  /* margin:auto; */
}
.link{
  text-decoration:none;
  list-style: none;
  /* font-size:; */
}
.links{
  text-decoration:none;
  list-style: none;
  /* font-size:; */
}
.inp{
  width: 80%;
  border-radius: 10px;
  height: 50px;
}
.first{
  margin-top: 20px;
}
.firstsh{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 80%;
  gap: 40px;
}
.firsty{
  margin-top: 20px;
  height:7vh;
  width:80%;
}
.buton{
  width:100%;
  background-color:#093330;
  color:white;
  border:none;
  height:7vh;
  border-radius:10px;
}
.firsts{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.colo{
  color: #E43A19;
  list-style: none;
  text-decoration: none;
}
.pur{
  color: #6055F4;
  font-size: small;
}
.check{
  list-style: none;
  text-decoration: none;
}
.lnk{
  list-style: none;
  text-decoration: none;
  color:grey;
}
.lnks{
  list-style: none;
  text-decoration: none;
}
#last{
  background-color: #093330;
}


















